.container-auction {
    margin-bottom: 20px; 
}

.container-auction a {
   color: black;
}

.container-auction p {
   margin: 0;
}

.auction-buttons .col-md-4 {
    margin-bottom: 5px;
}

.auction-buttons {
    margin-bottom: 20px;
}

.auction-buttons a {
    color: black;
}