.attack-info {
    margin: 100px 0;
}

h3 span {
    font-size: 16px;
}

.dropdown-menu .col-md-4 {
    padding: 1px;
}

/*Ta bort - Från*/
.dropdown {
    width: 25px;
}

.dropdown-content {
    display: none;
    position: relative;
    min-width: 320px;
    max-width: 500px;
    background-color: #fff0e5;
}

.dropdown-content-small {
    display: none;
    position: relative;
    min-width: 300px;
    background-color: #fff0e5;
}

.dropdown-content .col-md-2 {
    padding: 1px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown > a > h5 {
    color: #eb6864;
}

.dropdown > a > h5:hover {
    cursor: pointer;
}
/*Ta bort - Till*/



.text-small {
    font-size: 12px;
}

.dropdown-menu {
    left: -50px;
    min-width: 200px;
    padding: 0px;
    background-color: #fff0e5;
} 