.gamecard {
    background-image: url('../Images/Other/gamecard.jpg');
    background-size: cover;
    border: 1px solid #808080;
    font-family: Gabriola;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.gamecard-select:hover {
    opacity: 0.6;
}

.gamecard h4 {
    font-family: Gabriola;
    font-size: 27px;
}

.gamecard-worth {
    float: left;
}

.gamecard-xp-maxxp {
    float: right;
}

.gamecard h5 {
    font-family: Gabriola;
    font-size: 24px;
}

.gamecard h4 span {
    font-size: 16px;
}

.gamecard-button {
    cursor: pointer;
}

.gamecard-disabled {
    pointer-events: none;
    cursor: default;
}

.gamecard-small {
    background-image: url('../Images/Other/gamecard.jpg');
    background-size: cover;
    border: 1px solid #808080;
    margin-top: 15px;
    font-family: Gabriola;
    text-transform: uppercase;
    padding: 2px;
}

.gamecard-auction {
    background-image: url('../Images/Other/gamecard.jpg');
    background-size: cover;
    border: 1px solid #808080;
    font-family: Gabriola;
    text-transform: uppercase;
    padding: 2px;
}

.gamecard-xs {
    background-image: url('../Images/Other/gamecard.jpg');
    background-size: cover;
    border: 1px solid #808080;
    font-family: Gabriola;
    text-transform: uppercase;
    padding: 1px;
}

    .gamecard-xs p {
        margin: 0;
    }

.gamecard-element-xs {
    height: 14px;
    width: 14px;
    float: right;
    margin-top: 2px;
}

.dropdown-menu > li > p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #808080;
    white-space: nowrap;
}

.gamecard-small:hover {
    opacity: 0.6;
}

.gamecard-small p {
    color: black;
}

.gamecard-element-small {
    height: 15px;
    width: 15px;
    float: right;
    margin-top: 2px;
}

.container-characters {
    margin-bottom: 20px;
}

.gamecard p {
    font-size: 24px;
    color: black;
}

.gamecard-image {
    border: 2px solid black;
}

.gamecard-element {
    height: 25px;
    width: 25px;
    float: right;
    margin-bottom: 8px;
}

.gamecard-rarity {
    height: 30px;
    width: 30px;
    float: left;
}

.gamecard-xpbar {
    background-color: darkblue;
    height: 20px;
    padding-bottom: 1px;
}

    .gamecard-xpbar div {
        background-color: dodgerblue;
        height: 100%;
    }

    .gamecard-xpbar span {
        color: white;
    }

.gamecard-select {
    padding-bottom: 30px;
}

.btn-select {
    margin-bottom: 20px;
}

.gamecard-battle-xs .col-md-4 {
    padding: 2px;
}

.gamecard-dead {
    position: absolute;
    background-color: gray;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

.gamecard-hidden {
    position: absolute;
    background-image: url('../Images/Other/questionmark.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

.gamecard-hpbar {
    background-color: #3e6f31;
    height: 20px;
    padding-bottom: 1px;
}

    .gamecard-hpbar div {
        background-color: #86c376;
        height: 100%;
    }
