.gamecard {
    background-image: url('../Images/Other/gamecard.jpg');
    background-size: cover;
    border: 1px solid black;
    font-family: Gabriola;
    text-transform: uppercase;
}

.gamecard-button {
    cursor: pointer;
}

.gamecard-disabled {
    pointer-events: none;
    cursor: default;
}

.gamecard-small {
    background-image: url('../Images/Other/gamecard.jpg');
    background-size: cover;
    border: 1px solid black;
    margin-top: 15px;
    font-family: Gabriola;
    text-transform: uppercase;
    padding: 2px;
}

.gamecard-xs {
    background-image: url('../Images/Other/gamecard.jpg');
    background-size: cover;
    border: 1px solid black;
    font-family: Gabriola;
    text-transform: uppercase;
    padding: 1px;
}

.gamecard-xs p {
    margin: 0;
}

.gamecard-element-xs {
    height: 14px;
    width: 14px;
    float: right;
    margin-top: 2px;
}

.dropdown-menu > li > p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #808080;
    white-space: nowrap;
}

.gamecard-small:hover {
    opacity: 0.6;
}

.gamecard-small p {
    color: black;
}

.gamecard-element-small {
    height: 15px;
    width: 15px;
    float: right;
    margin-top: 2px;
}

.container-characters {
    margin-bottom: 20px;
}

.gamecard p {
    font-size: 24px;
    color: black;
}

.gamecard-image {
    border: 2px solid black;
}

.gamecard-element {
    height: 25px;
    width: 25px;
    float: right;
    margin-bottom: 8px;
}

.gamecard-xpbar {
    background-color: darkblue;
    height: 20px;
    padding-bottom: 1px;
}

    .gamecard-xpbar div {
        background-color: dodgerblue;
        height: 100%;
    }

    .gamecard-xpbar span {
        color: white;
    }

.gamecard-select {
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.gamecard-hpbar {
    background-color: #5a954a;
    height: 20px;
    padding-bottom: 1px;
}

    .gamecard-hpbar div {
        background-color: #86c376;
        height: 100%;
    }
