.stage-unavailable {
   opacity: 0.5;
}

.land {
    background-size: cover;
    height: 550px;
}

.fire {
    background-image: url('../Images/Land/landoffire.jpg');
}

.land h2 {
    font-family: Gabriola;
    font-size: 40px;
    color: black;
}

.land h4 {
    font-family: Gabriola;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 20px;
}

.land a > span:hover {
    color: black;
}

.land a > span {
    color: #322828;
}

.land span {
    position: absolute;
}

.back-to-map > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 10px;
}

.form-leave {
    position: absolute;
    top: 500px;
    left: 10px;
}
