.stage-unavailable {
    opacity: 0.5;
}

.land {
    background-size: cover;
    height: 550px;
}

.fire {
    background-image: url('../Images/Land/landoffire.jpg');
}

.land h2 {
    font-family: Gabriola;
    font-size: 40px;
    color: black;
}

.land h4 {
    font-family: Gabriola;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 20px;
}

.land a > span:hover {
    color: #a74a4a;
}

.land a > span {
    color: #c53d3d;
}

.land span {
    color: #4ba94f;
}

.stamina {
    position: absolute;
    background-color: black;
    opacity: 0.7;
}

    .stamina h5 {
        color: #cacaca;
        padding-left: 5px;
        padding-right: 5px;
    }

.land span {
    position: absolute;
}

.back-to-map > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 10px;
}

.form-leave {
    position: absolute;
    top: 500px;
    left: 10px;
}

.modal-reward {
    background-color: #fff0e5;
}

.no-comp {
    background-color: black;
    opacity: 0.8;
}

.no-comp h5 {
    color: #cacaca;
    padding-left: 5px;
    padding-right: 5px;
}
