body {
    background-color: #fffaf6;
    margin-top: 60px;
}

.navbar-nav > li > p {
    padding: 17px 15px;
    margin: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff0e5;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fffaf6;
}

.navbar-user {
    width: 100%;
}

a:hover, a:focus {
    text-decoration: none;
}

.table > tbody > tr > td {
    vertical-align: middle;
}
