.profile-partial {
    background-color: #fff0e5;
    border: 2px solid #dddddd;      
}

h4 span {
    font-size: 14px;
}

.profile-partial p {
    margin: 0;
}

.span-level {
    float: right;
}

.col-user-info {
    margin-top: 10px;
}

.margin-bottom-20
{
    margin-bottom: 20px;
}

.margin-bottom-10
{
    margin-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

h4 span img {
    height: 30px;
    width: 30px;
}

.avatar-wrench {
    margin-top: -16px;
    margin-left: 28px;
    position: absolute;
    color: #808080;
}
