@{
    ViewBag.Title = "Auction House";
}

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Creatures", "Creatures", null, new { @class = "btn btn-custom btn-block" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Selling", "Selling", null, new { @class = "btn btn-custom btn-block" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Targets", "Targets", null, new { @class = "btn btn-custom btn-block" })
    </div>
</div>
