@model IEnumerable<ClashOfTheCharacters.Models.ApplicationUser>

@{
    ViewBag.Title = "Ladder";
    int counter = 0;
}


<h2>Ladder</h2>
<form class="form-inline" role="form" action="/Ladder/Index">
    <div class="form-group">
        <input class="form-control" placeholder="Search for user">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Ladder points</th>
            <th><a href="~/Controllers/LadderController/SortByName">Username</a></th>
            <th>Creatures</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            counter++;
            <tr>
                <td>@counter</td>
                <td>@user.Rank</td>

                <td>@user.UserName</td>
                @foreach (var creature in user.TeamMembers)
                {
                    <td><img src="@creature.Character.ImageUrl" /></td>
                }
            </tr>
        }

    </tbody>
</table>
