
@{
    ViewBag.Title = "World Map";
}


<div class="row map">
    <div class="col-md-12 col-xs-12 map-castle">
        <div class="col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6">
            <a href="/Creature/Index"><img class="img-responsive" src="~/Images/Other/village.gif" /></a>
        </div>
    </div>
    <div class="col-md-12 margin-top-20">
        <div class="col-md-3 col-xs-3">
            <a href="/Map/Travel/1"><img class="img-responsive map-element-padding" src="~/Images/Map/fire.jpg" /></a>
        </div>
        <div class="col-md-3 col-xs-3">
            <a href="#"><img class="img-responsive map-element-padding" src="~/Images/Map/air.png" /></a>
        </div>
        <div class="col-md-3 col-xs-3">
            <a href="#"><img class="img-responsive" src="~/Images/Map/earth.png" /> </a>      
        </div>
        <div class="col-md-3 col-xs-3">
            <a href="#"><img class="img-responsive map-element-100" src="~/Images/Map/water.png" /></a>
        </div>
    </div>

    <div class="clearfix visible-xs"></div>
    <div class="clearfix visible-sm"></div>

    <div class="col-md-12">
        <div class="col-md-3 col-xs-3">
            <h3 class="text-center map-text">Fire <span class="fa fa-unlock-alt"></span></h3>
        </div>
        <div class="col-md-3 col-xs-3">
            <h3 class="text-center">Air <span class="fa fa-unlock-alt"></span></h3>
        </div>
        <div class="col-md-3 col-xs-3">
            <h3 class="text-center">Earth <span class="fa fa-unlock-alt"></span></h3>
        </div>
        <div class="col-md-3 col-xs-3">
            <h3 class="text-center">Water <span class="fa fa-unlock-alt"></span></h3>
        </div>
    </div>
    
    <div class="clearfix visible-xs"></div>
    <div class="clearfix visible-sm"></div>

    <div class="col-md-12 margin-top-20">
        <div class="col-md-3 col-xs-3 map-availability">
            <img class="img-responsive map-element-100" src="~/Images/Map/darkness.png" />
        </div>
        <div class="col-md-3 col-xs-3 map-availability">
            <img class="img-responsive map-element-padding" src="~/Images/Map/pollution.png" />
        </div>
        <div class="col-md-3 col-xs-3 map-availability">
            <img class="img-responsive" src="~/Images/Map/nature.png" />
        </div>
        <div class="col-md-3 col-xs-3 map-availability">
            <img class="img-responsive map-element-padding" src="~/Images/Map/light.png" />
        </div>
    </div>

    <div class="clearfix visible-xs"></div>
    <div class="clearfix visible-sm"></div>

    <div class="col-md-12">
        <div class="col-md-3 col-xs-3">
            <h3 class="text-center">Darkness <span class="fa fa-lock"></span></h3>
        </div>
        <div class="col-md-3 col-xs-3">
            <h3 class="text-center">Pollution <span class="fa fa-lock"></span></h3>
        </div>
        <div class="col-md-3 col-xs-3">
            <h3 class="text-center">Nature <span class="fa fa-lock"></span></h3>
        </div>
        <div class="col-md-3 col-xs-3">
            <h3 class="text-center">Light <span class="fa fa-lock"></span></h3>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 margin-top-20">
        <div class="col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6 map-availability">
            <img class="img-responsive map-element-gravity" src="~/Images/Map/gravity.png" />
        </div>
        <div class="col-md-12 col-xs-12"><h3 class="text-center">Gravity <span class="fa fa-lock"></span></h3></div>
    </div>
</div>

