
@{
    ViewBag.Title = "Faq";
}

<h2>FAQ - Frequently Asked Questions</h2>
<p class="text">
    If you're having problems playing Earth of Creatures you might find the answer here!
    Please read all of these before asking for help!
</p>
<ul class="help">
    <li>
        <b>Nothing works!?</b>
        <ol>
            <li>
                Please make sure you're playing the game in an up to date version of your web browser.
                <br />Earth of Creatures is compatible with the following web browsers and minimum version; <b>Firefox</b> ?, <b>Internet Explorer</b> ?,  <b>Chrome</b> ?.
            </li>
        </ol>
    </li>
    <li>
        <b>I can't buy any creatures!</b>
        <ul><li>The shop will be implemented shortly.</li></ul>
    </li>
    <li>
        <b>Challenges are never executed</b>
        <ol><li>Refresh your browser-window.</li></ol>
    </li>
    <li>
        <b></b>
        <ul><li></li></ul>
    </li>

</ul>


