
@{
    ViewBag.Title = "Gameguide";

    @*<link href="~/Content/help.css" rel="stylesheet" />*@
}

<h2>Game Guide</h2>

<p>
    First things first: <b>Register!</b> <br />Choose a password with a minimum of 6 characters.<br />
    After registration you can begin by choosing your first creature.
</p>
<h4>Starter creatures:</h4>
<p>
    All creatures starts on Level 5
    <dl>
        <dt>AIDAN</dt>
        <dd>
            Base Attack: 48<br />
            Base Defense: 33<br />
            Base Hp: 22<br /><br />
        </dd>

        <dt>BOGEY</dt>
        <dd>
            Base Attack: 44<br />
            Base Defense: 36<br />
            Base Hp: 23<br /><br />
        </dd>

        <dt>MOSSY</dt>
        <dd>
            Base Attack: 38<br />
            Base Defense: 40<br />
            Base Hp: 24<br /><br />
        </dd>

        <dt>HORSISH</dt>
        <dd>
            Base Attack: 40<br />
            Base Defense: 41<br />
            Base Hp: 23<br /><br />
        </dd>




    </dl>




