
@{
    ViewBag.Title = "Gameguide";

    @*<link href="~/Content/help.css" rel="stylesheet" />*@
}

<h2>Game Guide</h2>

<p>
    First things first: <b>Register!</b> <br />Choose a password with a minimum of 6 characters.<br />
    After registration you can begin by choosing your first creature.
</p>
<h4>Game objectives:</h4>
<p>
    <dl>
        <dt>The Battle:</dt>
        <dd>
            As long as the two opponents has HP, the first character alive <br />
            in their respective team will be picked to fight against eachother <br />
            until one of them is dead.<br />
            The next character in that players team will continue the fight until<br />
            only the winning opponent is left with at least one character alive. <br /><br />
        </dd>

        <dt>The battle-scoring in pictures: </dt>
        <dd>
            <a href="~/Images/Help/ScoreCount.PNG">Accumulated score-count</a><br />
            <a href="~/Images/Help/element_effect.png">Element-effect in detail</a>
            <br /><br />
        </dd>

        <dt>Ladder:</dt>
        <dd>
            With every won challenge you gain experience which will eventually <br />
            raise your level, this will also affect your creatures levels.  <br />
            On the Ladder page you can see your own progress, aswell as other members progress. <br />
            <br />
        </dd>
    </dl>

    <h4>Starter creatures:</h4>
<p>
    All creatures starts on Level 5
    <dl>
        <dt>AIDAN</dt>
        <dd>
            Base Attack: 48<br />
            Base Defense: 33<br />
            Base Hp: 22<br /><br />
        </dd>

        <dt>BOGEY</dt>
        <dd>
            Base Attack: 44<br />
            Base Defense: 36<br />
            Base Hp: 23<br /><br />
        </dd>

        <dt>MOSSY</dt>
        <dd>
            Base Attack: 38<br />
            Base Defense: 40<br />
            Base Hp: 24<br /><br />
        </dd>

        <dt>HORSISH</dt>
        <dd>
            Base Attack: 40<br />
            Base Defense: 41<br />
            Base Hp: 23<br /><br />
        </dd>
    </dl>



