
@{
    ViewBag.Title = "Help";

}

<h4>Help</h4>

<p class="text">
    Problems or questions about the game? Need to get in touch with us?
    The answers to your questions will be found here! <br />
    Please <b>read the Game Guide</b> first.
</p>
<ul class="help">
    <li>
        <a href="~/Help/Faq">FAQ - Frequently Asked Questions</a>
        <ul><li>The most common questions are answered here. Be sure to take a look at this section before sending us an email!</li></ul>
    </li>
    <li>
        <a href="~/Help/Gameguide">Game Guide</a>
        <ul><li>Comprehensive list of creatures and how Levels, Worth, Attack, Defense and HP is used in the challenges.</li></ul>
    </li>
    @*<li>
            <a href="">In-game Tutorial</a>
            <ol><li>Opens up the index of the in-game tutorials. Read up on basic details such as the essential information.</li></ol>
        </li>*@
    <li>
        <a href="">Reset</a>
        <ul><li>Your set of Creatures didn't turn out the way you wanted? </li></ul>
    </li>
    <li>
        <a href="">Support - Contact Us</a>
        <ul><li>Send us an email and we will get back to you!</li></ul>
    </li>
</ul>



