@model ClashOfTheCharacters.Models.WildBattle

@{
    ViewBag.Title = "Battle";
}

@foreach (var battleCreature in Model.WildBattleCreatures.Where(wbc => wbc.UserId != null))
{
    <h2>@battleCreature.Character.Name - Hp: @battleCreature.Hp</h2>
}

<hr />

@foreach (var battleCreature in Model.WildBattleCreatures.Where(wbc => wbc.UserId == null))
{
    <h2>@battleCreature.Character.Name - Hp: @battleCreature.Hp</h2>
}

<form action="/Land/Attack" method="post">
    <input type="submit" class="btn btn-danger" value="Attack" />
</form>

<form action="/Land/Capture" method="post">
    <input type="submit" class="btn btn-default" value="Capture" />
</form>

